* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #141414;
    color: #fff;
}

ul li {
    list-style: none;
}

/* UTILITY */

.u_flex {
    display: flex;
}

.u_flexColumn {
    display: flex;
    flex-direction: column;
}

.u_pRelative {
    position: relative;
}

.u_pAbsolute {
    position: absolute;
}


/* HEADER */

.main-header {
    width: 100%;
    height: 100vh;
}

nav {
    z-index: 2;
    height: 68px;
    width: 100%;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    background: #0b0b0b;
}

.main-header__left {
    align-items: center;
}

.main-header a {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    padding-left: 10px;
    color: #fff;
}

.main-header img.home-btn {
    cursor: pointer;
    width: 110px;
    margin-left: 50px;
    margin-right: 10px;
}

.main-header input {
    width: 0;
    height: 0;
    padding: 10px;
    padding-left: 35px;
    margin-right: 20px;
    border: 0;
    background: transparent;
    color: #fff;
    opacity: 1;
    transition: width 0.4s ease-in-out;
}

.main-header input.active-searchbar {
    width: 270px;
    height: 30px;
    padding: 10px;
    padding-left: 35px;
    margin-right: 20px;
    border: 1px solid #fff;
    background: #141414;
    color: #fff;
    transition: width 0.4s ease-in-out,
                border 0.2 ease-in-out;
}

.main-header .search-section i {
    cursor: pointer;
    color: #fff;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* JUMBOTRON */

.jumbotron {
    width: 100%;
    height: 100%;
    padding-top: 68px;
}

.jumbotron_left,
.jumbotron_right {
    z-index: 1;
}

.jumbotron img.bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.jumbotron_left {
    padding: 0 20px;
    width: 40%;
    height: 100%;
}

.jumbotron_movie-info {
    width: 100%;
    height: 100%;
    justify-content: center;
    filter: drop-shadow(1px 1px 5px #333);
}

.jumbotron-movie__format {

}

.jumbotron-movie__format h3{
    color: #e50914;
}

.jumbotron-movie__title {

}

.jumbotron-movie__title h2{
    font-weight: 400;
    font-size: 38px;
}

.jumbotron-movie__summary {

}

.jumbotron-movie__summary p {
    margin-top: 10px;
    font-size: 14px;
}

.btn_trailer {
    padding: 10px 20px;
    background: #141414;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    margin-top: 40px;
    font-size: 16px;
}

.btn_trailer:hover {
    background-color: #333;
}

.btn_trailer i {
    margin-right: 10px;
}

.jumbotron_right {
    width: 60%;
    height: 100%;
}

.jumbotron_movie-trailer {
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px;
} 

.iframe-container {
    display: none; /* jQuery */
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    filter: drop-shadow(1px 1px 5px #333);
}

.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

/* MAIN */

.main {
    padding-top: 68px;
}

.main_result-search h2 {
 padding: 70px 4% 30px;
}

#films,
#series {
    flex-wrap: wrap;
    padding: 0 3%;
}

#series {
    margin-bottom: 50px;
}

#people {
    flex-wrap: wrap;
    padding: 0 3%;
    overflow-x: hidden;
}

.people {
    margin: 10px 5px;

}

.poster-people {
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
    border: 2px solid #dc1a28;
    border-radius: 50%;
}

.poster-people img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #141414;
}

.info-people {
    margin-left: 10px;
}

.info-people h4 {
    font-size: 15px;
}

.info-people h5 {
    font-size: 12px;
    font-weight: 400;
}

.movie {
    cursor: pointer;
    min-width: 342px;
    height: 512px;
    margin: 10px 5px;
    position: relative;
}

.poster {
    width: 100%;
    height: 100%;
}

.movie .poster img {
    width: 100%;
    height: 100%;
}

.movie .movie_detail {
    width: 342px;
    height: 512px;
    bottom: 0px;
    padding: 230px 20px 20px 20px;
    color: #fff;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(5,5,5,1) 75%);
    opacity: 0;
    transition: linear 0.1s;
}

.movie .movie_detail:hover {
    opacity: 1;
    overflow-y: hidden;
}

.movie .movie__format {
    font-size: 13px;
    color: #e50914; 
}

.movie_detail .movie__title {
    font-size: 28px;
    font-weight: 400;
}

.movie_detail .movie__original-title,
.movie_detail .movie__language {
    font-size: 14px;
    font-weight: 400;
}

.movie_detail .movie__language {
    margin-bottom: 20px;
}

.movie_detail .movie__summary {
    font-size: 12px;
}

.movie_detail .movie__average {
    font-size: 10px;
    top: 19px;
    right: 15px;
}

.movie .movie_detail img.flags {
    width: 15px;
}

/* FOOTER */

footer {
    width: 100%;
    height: 250px;
    background: #0b0b0b;
}

.footer_left {
    width: 30%;
    justify-content: center;
    padding: 20px;
}

.footer_left__name h2 {
    font-weight: 400;
}

.footer_left__name h3 {
    font-weight: 400;
    font-size: 14px;
}

.footer_left__social a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 20px 2px;
    padding: 5px 9px;
}

.footer_left__contact h3{
    font-weight: 400;
    font-size: 14px;
}



.footer_right {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.footer_right img {
    width: 250px;
}




/* INFO MOVIE */

.disable-body {
    display: none; /* jQuery */
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

}

.info-movie {
    z-index: 3;
    display: none; /* jQuery */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%;
    min-height: 30%;
    padding: 10px;
    background: #0b0b0b;
}

.info-movie__wrapper {
    width: 100%;
    height: 100%;
    align-items: center;
}

.info-movie__wrapper i.close {
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 22px;
}

.info-movie__left {
    width: 30%;
    height: 100%;
}

.info-movie__left_cover {
    width: 100%;
}

.info-movie__left_cover img {
    width: 100%;
}

.info-movie__right {
    width: 70%;
    height: 100%;
    padding: 20px;
}

.detail__format {
    font-size: 14px;
    color: #dc1a28;
}

.info-movie__right_detail {
    height: 100%;
}

.detail__title {
    font-size: 28px;
}

.detail__language {
    font-size: 14px;
}

.detail__language img {
    width: 15px;
}

.detail__summary {
    margin-top: 20px;
    height: 173px;
    overflow-y: auto;
}